.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}


.header {
    width: 400px;
    height: 100px;
    background-color: rgb(13, 13, 36);
}

.left {
    width: 150px;
    height: 250px;
    background-color: rgb(91, 184, 179);
    float: left;
}

.right {
    width: 250px;
    height: 250px;
    background-color: rgb(80, 21, 31);
    float: left;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: rgb(175, 102, 0);
}